body {
  height: 100%;
  padding: 10px;
}

.top-bar {
    list-style-type: none;
}

.top-bar li {
  display: inline;
}

a {
  margin: 150 px;
  padding: 15 px;
  color: black;
}

.center-screen {  
  margin-top: 10%;
  text-align: center;
}

.search {
  border-radius: 25px;
  padding: 20px;
  width: 40%;
  margin: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  
  